# 변수

In [5]:
x,y,z = 10,20,30
print(x,y,z)

10 20 30

## 자료형

In [6]:
type(10)

int

In [7]:
type(10.1)

float

In [13]:
a = 2
b = 3
a % b

2

#####  연습문제 1

아래와 같이 a = 7, b = 3.0 로 초기화 하고
a를 b로 나누었을 때 몫과 나머지를 각각 c와 d 라는 변수에 초기화한 후 출력하라.
그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라.

In [14]:
a, b = 7, 3.0

# code
c = a // b
d = a % b
print(c,d)

e = a**b
print(e)

2.0 1.0
343.0

정수와 실수를 연산하면 형변환이 자동적으로 이루어 짐

### 형변환

In [17]:
a, b = 7, 3.0
type(a), type(b)

(int, float)

In [20]:
c = int(b)
type(c)

int

In [22]:
d = float(a)
print(type(d))
print(d)

<class 'float'>
7.0

##### 연습문제 2

반 평균을 구하시오.
단 변수를 사용하여 계산하고,
 변수의 이름을 학생의 이름으로 하십시요.
- 반드시 정수로 출력하십시오.

In [29]:
mike, judy, sera = 80, 75, 100

avg = (mike + judy + sera) / 3
print(int(avg))

85

기본적으로 나누기는 실수형으로 형변환이 이루어짐

## Bool

### 비교 연산자

#### and

In [30]:
a, b = 1, 2

In [38]:
print(a<b)  # True
print(a>b)  # False
print(a==b)  # False
print(a!=b)  # True

True
False
False
True

#### or

In [44]:
print(True and True)  # True
print(True and False)  # False
print(False and False)  # False

True
False
False

In [45]:
print(True or True)  # True
print(True or False)  # True
print(False or False)  # False

True
True
False

In [47]:
a = 10
print(a>10 or a==10)

True

#### not

In [49]:
not a > 10  # a가 10보다 크지 않느냐는 것

True

## Bool 형변환
- 값이 있으면 True, 없으면 False

In [156]:
bool(0), bool(1)

(False, True)

In [158]:
bool(0.0), bool(0.1)

(False, True)

In [159]:
bool('hello')

True

In [160]:
bool(' ')  # 공백도 True

True

In [161]:
bool('')

False

In [162]:
bool([])  # 빈 리스트는 False

False

---

##### 연습문제 3

사용자로부터 점수를 3개 입력받아
모든 점수가 65점보다 클 경우 True 아닐경우 False
를 출력하세요

In [4]:
score1 = int(input("score1: "))
score2 = int(input("score2: "))
score3 = int(input("score3: "))

score1: 100
score2: 95
score3: 99

In [5]:
(score1>65) and (score2>65) and (score3>65)

True

## NoneType (Null 값과 동일)
- return 값이 없음

In [7]:
a = None
a

In [8]:
print(a)

None

## 문자열 Str

#### multi line

In [20]:
quote1 = '''안녕하세요. 
저는 유예린입니다'''
print(quote1)

안녕하세요.
저는 유예린입니다

### 문자열 연산
- 더하기, 곱셈 이용 가능 ( 뺄셈, 나눗셈 불가 )

In [12]:
a = "apple"
b = "fruit"

In [18]:
c = a + b
c

'applefruit'

In [19]:
a * 10

'appleappleappleappleappleappleappleappleappleapple'

### Escape Code
- 컴퓨터에 문자로 표현하기 어려운 것들을 표현하기 위한 코드

##### 줄바꿈   :   \n

In [21]:
quote1 = '''안녕하세요. 
저는 유예린입니다'''
print(quote1)

안녕하세요.
저는 유예린입니다

In [22]:
quote1

'안녕하세요. \n저는 유예린입니다'

In [24]:
quote = "안녕하세요. \n저는 유예린입니다"
print(quote)

안녕하세요.
저는 유예린입니다

In [29]:
quote2 = '"유예린"입니다.'
print(quote2)

"유예린"입니다.

In [30]:
quote2 = "\"유예린\"입니다."
print(quote2)

"유예린"입니다.

## Indexing, Slicing

In [31]:
quote = "안녕하세요. 유예린입니다."
quote

'안녕하세요. 유예린입니다.'

In [32]:
quote[0]  # 가장 처음

'안'

In [35]:
quote[-1]  # 가장 마지막

'.'

In [41]:
quote[0:6]  # 0번째부터 5번째까지

'안녕하세요.'

In [42]:
quote[0:6:2]

'안하요'

In [47]:
quote[:12]

'안녕하세요. 유예린입니'

In [44]:
quote[3:]

'세요. 유예린입니다.'

In [45]:
quote[3::2]

'세.유린니.'

In [48]:
quote[:]

'안녕하세요. 유예린입니다.'

In [49]:
quote[::2]

'안하요 예입다'

In [50]:
quote[::-2]

'.니린유.세녕'

##### 연습문제 4

a="20190505chicken19000"는 잘못 쓰여진 변수이다.
2019는 year이라는 변수에, 그 다음 0505를 day라는 변수에,
chicken을 menu라는 변수에, 19000을 money라는 변수에 
인덱싱을 사용하여 각각 저장하고 출력하시오.

In [53]:
a = "20190505chicken19000"
year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[-5:]

print(year, day, menu, money)

2019 0505 chicken 19000

## 문자열 포매팅

#### 서식시정자
- %s 문자, %d 정수, %f 실수

In [55]:
name = "유예린"
major = "Statistics"

In [57]:
intro = "안녕하세요. %s입니다. 전공은 %s입니다." %(name, major)
intro

'안녕하세요. 유예린입니다. 전공은 Statistics입니다.'

In [66]:
pi = 3.14159
pi_def = "PI는 %.2f입니다." %pi  # 소수점 둘째자리에서 자르기
pi_def

'PI는 3.14입니다.'

#### format 함수

In [61]:
"Hi. I'm {}. My major is {}.".format(name, major)

"Hi. I'm 유예린. My major is Statistics."

#### f문자열

In [65]:
f"PI는 {pi}입니다."

'PI는 3.14159입니다.'

##### 연습문제 5

a="90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.문자열 인덱싱을 이용해 각 점수를 각각 
math, english, science 변수에 저장하고,
average 란 변수에 평균값을 저장하고 출력하시오.

이 때 출력의 형태는 “평균 점수는 ~~입니다.”로 하시오.

In [75]:
a = "90:30:80"
math = int(a[0:2])
english = int(a[3:5])
science = int(a[6:8])

average = (math + english + science)/3

print("평균점수는 {:.2f}입니다.".format(average))

평균점수는 66.67입니다.

## 문자열 함수

In [85]:
quote = "안녕하세요. 유예린입니다."
quote

'안녕하세요. 유예린입니다.'

#### len

In [79]:
len(quote)

14

#### index
- 중복값이 있다면 처음것만 반환해줌

In [86]:
quote.index("하")

2

#### upper / lower
- 보통 사용자에게 값을 받고 대소문자 여부가 중요하지 않을때 맞추기 위해 사용

In [87]:
"Apple".upper()

'APPLE'

In [88]:
"APPle".lower()

'apple'

---

#### replace
- 데이터에서 이상한 글자들 빼줄때 주로 사용
- 실제 값이 바뀌는 것은 아니고 바꿔서 return해주는 것

quote.replace(".","?")

---

#### count

In [96]:
quote.count(".")

2

In [95]:
quote.count("")

15

---

#### strip/ lstrip/ rstrip
- 공백 제거

In [98]:
a = "    안녕하세요.  "
a

'    안녕하세요.  '

In [100]:
a.lstrip()  # 왼쪽 공백 제거

'안녕하세요.  '

In [101]:
a.rstrip()  # 오른쪽 공백 제거

'    안녕하세요.'

In [102]:
a.strip()  # 양쪽 공백 제거

'안녕하세요.'

---

#### split
- 특정 구분자를 기준으로 문자열 나누어 list로 만들어줌

In [106]:
a = "90:30:80"
b = a.split(":")
b

['90', '30', '80']

In [154]:
fruit = "Apple Banana"
fruit_list = fruit.split(" ")
print(fruit_list)
type(fruit_list)

['Apple', 'Banana']

list

In [155]:
[1,2,3,4]

[1, 2, 3, 4]

---

#### join
- 특정 토큰을 기준으로 문자열 연결해줌

In [116]:
z = ", ".join(fruit_list)
print(z)
type(z)

Apple, Banana

str

In [111]:
",".join(b)

'90,30,80'

---

##### 연습문제 6

a="  90:30:80  "이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다. 
문자열 함수를 이용해 공백을 제거하고,  
각 점수를 각각 math, english, science 변수에 저장한 후,
average 란 변수에 평균값을 저장하고 출력하시오.
이 때 출력의 형태는 “평균 점수는 ~~입니다.”로 하시오.

In [150]:
a = "  90:30:80  "
a = a.strip(" ")
print(a)

math, english, science = a.split(":")
average = (int(math) + int(science) + int(english)) / 3

print("평균 점수는 {:.2f}입니다.".format(average))

90:30:80
평균 점수는 66.67입니다.

In [132]:
str.strip?

In [135]:
a = "  90:30:80  "
a = a.strip(" ")
print(a)

math, english, science = a.split(":")

90:30:80

#### map

In [147]:
a = "  90:30:80  "
a = a.strip(" ")

score_list = a.split(":")

print(map(int, score_list))
math, english, science = list(map(float, score_list))
avg = (math+english+science)/3
print("평균 점수는 {:.4f}입니다.".format(avg))

<map object at 0x0000028D50AF31C0>
평균 점수는 66.6667입니다.

---